{{template "base" .}}

{{define "title"}}
    Buy one Mac m3
{{end}}

{{define "content"}}
<h2 class="mt-3 text-center"> Buy one Mac </h2>
<hr>
<img src="/static/mac.jpg" alt="Mac m3" class="image-fluid rounded mx-auto d-block">

{{end}}
